<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet permission for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FitTrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FitTrack"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitTrack"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Login is the launcher activity -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.plans.PlansActivity" />
        <activity android:name=".ui.exercises.ExercisesActivity" />
        <activity android:name=".ui.session.SessionListActivity" />
        <activity android:name=".ui.session.SessionDetailActivity" />
        <activity android:name=".ui.session.NewSessionActivity" />
        <activity android:name=".ui.progress.ProgressActivity" />

    </application>

</manifest>
